*{
	margin:0px;
	padding: 0px;
}
ul{
    list-style-type:none;
    width:auto;
    margin:0 auto;
}
.mainbox{
    margin:auto;
    width: 750px;
    position: relative;
}
#huajiantong-logo{
    display: flex; /*弹性盒子*/
    align-items: center; /*垂直方向的居中*/
    background-color: white;
    height:93px;
    width:750px;
    position: absolute;
}
#ad-pic{
    background-color: white;
    margin-top:93px;
    height:400px;
    width:750px;
    position: absolute;
}
#ad-video-wrap{
    margin-top:493px;
    height:398px;
    width:750px;
    position: absolute;
    display: flex; /*弹性盒子*/
    justify-content: center; /*水平方向的居中*/
    align-items: center; /*垂直方向的居中*/
}
.ad-video-surrounds{
    position: absolute;
    width:750px;
    height:398px;
    opacity: 0.1;
    background: #B8DAFF;
}
#video-switch_buttom2{
    margin-left:48px;
}
#buttom-play{
    height:90px;
    width:90px;
}
#ad-video{
    background-image:url('assets/video.png');
    background-size:100%;
    height:328px;
    width:530px;
    position: relative;
    border-radius: 8px;
    border-radius: 8px;
    display: flex; /*弹性盒子*/
    justify-content: center; /*水平方向的居中*/
    align-items: center; /*垂直方向的居中*/
}
#video-switch_buttom{
    margin-right:48px;
}
.pic-wrap{
    width:750px;
    position: absolute;
    display: flex;
    justify-content:center; 
    align-items: center;
    background:no-repeat;
    background-position:center;
}
#tittle-wrap1{
    margin-top:891px;
    height:95px;
    background-image: url('assets/tittle-eng-cooperative_purchaser.png');
}
.tittle>p{
    display:inline-block;
    font-weight:bold;
}
#tittle-pic1{
    display: block;
    margin:0 auto;
    position:relative;
}
.tittle-icon{
    display: inline-block;
    vertical-align:middle;
    margin:0px;
    margin-left:14px;
    margin-right:-8px;
}
.tittle{
    height:46px;
    width:250px;
    margin-bottom: 15px;
    font-family: MicrosoftYaHeiUI-Bold;
    font-size: 36px;
    color: #3995C0;
    position:absolute;
    transform: translate(0,23px);
}
#icon-wrap{
    background: #F7F7F7;
    margin-top:986px;
    height:255px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center; /*垂直方向的居中*/
}
.icon-flexwrap{
    width:717px;
    height:220px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
.icon{
    /* vertical-align:middle; */
    display:inline-block;
    height:100px;
    width:228px;
    margin:0 auto;
    padding: 0%;
}
#tittle-wrap2{
    margin-top:1241px;
    height:95px;
    background-image: url('assets/tittle-eng-popular_project.png');
}
#project-wrap{
    background: #F7F7F7;
    margin-top:1342px;
    height:323px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center; /*子元素水平方向居中排列*/
    align-items: center;
}
#project-flexwrap{
    width:716px;
    height:288px;
    /* margin-top: 20px; */
}
.project{
    background: #FFFFFF;
    height:94px;
    width:348px;
    margin:5px;
}
.project h3{
    width:240px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: MicrosoftYaHeiUI-Bold;
    font-size: 24px;
    color: #333333;
}
.project p{
    width:240px;
    font-family: MicrosoftYaHeiUI;
    font-size: 20px;
    color: #999999;
    line-height: 14.95px;
    display: inline-block;
}
.icon-add-wrap{
    position: absolute;
    margin-top: 8px;
    margin-bottom: 13px;
    margin-left: 20px;
}
.icon-add-wrap>p{
    font-weight:bold;
}
.ico{
    vertical-align:middle;
}
.project>h3:hover{
    color: #F07842;
}
.buttom-view_more{
    margin-top:20px;
    width:706px;
    height:60px;
    display:flex;
    justify-content:center; /*子元素水平方向居中排列*/
    align-items: center;    /*子元素垂直方向居中排列*/
}
.translucent_surrounds{
    position:relative;
    width:706px;
    height:60px;
    opacity: 0.16;
    background-image: linear-gradient(180deg, rgba(57,149,192,0.00) 1%, #3995C0 100%);
}
.buttom-view_more p{
    display: inline-block;
    font-family: MicrosoftYaHeiUI;
    font-size: 20px;
    color: #3995C0;
}
#tittle-wrap3{
    margin-top:1695px;
    height:95px;
    background-color: #F7F7F7;
    background-image: url('assets/tittle-eng-procurement_demand_display.png');
}
#menu-wrap{
    background: #F7F7F7;
    margin-top:1790px;
    height:2044px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center; /*子元素水平方向居中排列*/
}
.menu{
    margin:5px;
    width:706px;
    height:489px;
    background: #FFFFFF;
}
#icon-wrap2{
    background: #FFFFFF;
    width:706px;
    height:102px;
    display: flex;
    flex-wrap:wrap;
    justify-content:left; /*子元素水平方向向左排列*/
}
#icon-wrap2>img{
    width:188px;
    height:100px;
    border: 1px solid #D9D9D9;
    margin-left:20px;
    margin-top:30px;
}
#icon-wrap2>p{
    display: inline-block;
    width:463px;
    height:102px;
    margin-right:20px;
    margin-top:25px;
    font-family: MicrosoftYaHeiUI-Bold;
    font-size: 24px;
    font-weight: bolder;
    color: #333333;
    text-align: justify;
    line-height: 34px;
}
#procurement_requirements{
    margin-top: 155px;
    width:666px;
    height:37.2px;
    display:flex;
    justify-content:center; /*子元素水平方向居中排列*/
    align-items: center;    /*子元素垂直方向居中排列*/
}
#procurement_requirements #surrounds2{
    height:37.2px;
    opacity: 0.22;
    background-image: linear-gradient(270deg, rgba(255,255,255,0.00) 0%, #F07842 52%, rgba(255,255,255,0.00) 100%);
}
#procurement_requirements p{
    font-family: MicrosoftYaHeiUI-Bold;
    font-size: 20px;
    color: #F07842;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-top:20px;
}
.grid {
    width:159px;
    height:54px;
    justify-content:center; /*子元素水平方向居中排列*/
    align-items: center;    /*子元素垂直方向居中排列*/
    background: rgba(96, 215, 177,0.13);
    border-radius: 4.95px;
}
.grid:hover{
    background-image: linear-gradient(90deg, #3793C0 0%, #57DCF0 100%);
}
.grid:hover>p{
    color: #FFFFFF;
}
.grid p{
    width:117px;
    height:25px;
    margin-top:15px;
    margin-bottom:14px;
    margin-left:10px;
    display: inline-block;
    font-family: MicrosoftYaHeiUI;
    font-size: 20px;
    color: #3995C0;
}
.grid img{
    width:10px;
    height:15px;
    margin-top:10px;
    margin-left:10px;
}
#surrounds3{
    height:37.2px;
    opacity: 0.13;
    background: #60D7B1;
}
#tittle-wrap4{
    margin-top:3834px;
    height:95px;
    background-color: #FFFFFF;
    background-image: url('assets/tittle-eng-popular_types.png');
}
#menu2{
    display: block;
    margin-top:3929px;
    height:379px;
    background: #F7F7F7;
    justify-content:center; /*子元素水平方向居中排列*/
}
#menu-tittle{
    margin-left:22px;
    width:706px;
    height:69.8px;
    display:flex;
    justify-content:right;
    align-items: center;
    background-image: linear-gradient(90deg, #FF7549 0%, #EBB75F 100%);
    border-radius: 10.21px 10.21px 0 0;
}
#menu-icon-wrap{
    position: relative;
    margin-right:422px;
}
#menu-icon-wrap2{
    position: relative;
    margin-right:22px;
}
#p-menu-tittle {
    display: inline-block;
    font-family: MicrosoftYaHeiUI-Bold;
    font-size: 24px;
    color: #FFFFFF;
}
.pannel{
    position: relative ;
    width:706px;
    height:48px;
    margin-top:6px;
    background: #FFFFFF;
    margin-left:22px;
}
.pannel:hover{
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.13);
}
.pannel:hover>p, #pannel:hover>p2{
    color: #F07842;
}
.pannel p{
    display: inline-block;
    margin-top:9.1px;
    margin-left:44.5px;
    font-family: MicrosoftYaHeiUI;
    font-size: 20px;
    color: #333333;
}
.pannel p2{
    display: inline-block;
    float: right;
    margin-right:44.5px;
    margin-top:9.1px;
    font-family: MicrosoftYaHeiUI;
    font-size: 20px;
    color: #333333;
}
#menu3{
    display: block;
    margin-top:4308px;
    height:379px;
    background: #F7F7F7;
    justify-content:center; /*子元素水平方向居中排列*/
}
#tittle-wrap5{
    margin-top:4687px;
    height:106px;
    background-color: #FFFFFF;
    background-image: url('assets/tittle-eng-quality_suppliers.png');
}
#carousel{
    margin-top:4793px;
    height:343px;
    width:750px;
    background: #F7F7F7;
}
.carousel-pic-wrap{
    width:280px;
    height:290px;
    margin:13px;
    background: #FFFFFF;
    border-radius: 8px;
    border-radius: 8px;
}
.carousel-icon-wrap{
    width:270px;
    height:96px;
}
.carousel-icon-wrap h3{
    margin-top:4px;
    margin-left:17px;
    font-family: MicrosoftYaHeiUI-Bold;
    font-size: 24px;
    color: #333333;
}
.p-carousel{
    display:inline-block;
    font-family: MicrosoftYaHeiUI;
    font-size: 20px;
    color: #999999;
    line-height: 28px;
}
#p-carousel2{
    width:227px;
    height:99px;
    margin-left:25px;
    margin-top:-24px;
}
#carousel-icon-2{
    margin-top:10px;
}
#carousel-icon-wrap2{
    width:250px;
    height:28px;
    background-color: #FFFFFF;
}
#carousel-switch_buttom{
    margin:9px;
}
#tittle-wrap6{
    margin-top:5136px;
    height:106px;
    background-color: #FFFFFF;
    background-image: url('assets/tittle-eng-quality_suppliers.png');
}
#activity_wrap{
    display: flex;
    flex-direction: column; /*子盒子竖排 */
    margin-top:5242px;
    height:594.5px;
    justify-content:center; /*子元素水平方向居中排列*/
    align-items: center;    /*子元素垂直方向居中排列*/
    /* background: #F7F7F7; */
    background-image: linear-gradient(180deg, #F7F7F7 0%, #FFFFFF 100%);
}
.activity{
    margin: 10px;
    width:590px;
    height:239px;
    background-image: url('assets/module-activity_form-online_hiring.png');
    border-radius: 10px;
    border-radius: 10px;
}
.activity h3{
    margin-top:35px;
    margin-left:38px;
    font-family: MicrosoftYaHeiUI-Bold;
    font-size: 40px;
    color: #6D5232;
}
#activity2{
    background-image: url('assets/module-activity_form-Supply_and_demand_matchmaking.png');
}
#activity-h3{
    color: #3995C0;
}
.activity-p{
    display: inline-block;
    margin-top:35px;
    margin-left:38px;
    font-family: MicrosoftYaHeiUI;
    font-size: 22px;
    color: #333333;
    line-height: 30px;
}
.activity-buttom{
    width:136px;
    height:50px;
    background-image: linear-gradient(90deg, #FF7549 0%, #EBB75F 100%);
    margin: 15px;
    margin-left: 38px;
    border-radius: 25px;
    display: flex;
    justify-content:center; /*子元素水平方向居中排列*/
    align-items: center;    /*子元素垂直方向居中排列*/
}
.activity-buttom p{
    font-family: MicrosoftYaHeiUI-Bold;
    font-size: 20px;
    color: #FFFFFF;
}
#activity-buttom2{
    background-image: linear-gradient(90deg, #3793C0 0%, #57DCF0 100%);
}
#phone_message-wrap{
    margin-top: 5836.5px;
    height:60px;
    background: #FFFFFF;
}
#phone_message{
    width:706px;
    height:60px;
    /* background: #F7F7F7; */
    box-shadow: inset 0 7px 11px 0 rgba(219,219,219,0.43);
    border-radius: 26.48px;
    border-radius: 26.48px;
    background-image: linear-gradient(180deg, #F7F7F7 0%, #FFFFFF 100%);
    /* background: #DBDBDB 43%; */
    background-image: url('assets/phone_messages.png');
}
#phone_message-wrap2{
    margin-top: 5876.5px;
    height:212px;
    background: url('assets/flowers_and_grass.png');
}
#register-bottom{
    background-image: linear-gradient(90deg, #3793C0 0%, #57DCF0 100%);
    border-radius: 3px;
    border-radius: 3px;
    opacity: 0.78;
}
#register-bottom>p{
    font-family: MicrosoftYaHeiUI-Bold;
    font-size:bold;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}
#message-wrap{
    margin-top: 6088.5px;
    height:1000px;
    background: #323232;
    display: block;
}
#bottom_logo-wrap{
    width:390px;
    height:81px;
    margin-left: 42px;
    margin-top: 49px;
    background-image: url(assets/bottom_logo-chinaASEAN.png);
}
.p1{
    display: inline-block;
    margin-left: 41px;
    margin-top: 192px;
    font-family: MicrosoftYaHeiUI;
    font-size: 24px;
    color: rgba(255,255,255,0.65);
    line-height: 22px;
}
.p2{
    display: inline-block;
    margin-left: 10px;
    margin-top: 192px;
    font-family: MicrosoftYaHeiUI;
    font-size: 24px;
    color: rgba(255,255,255,0.65);
    line-height: 45px;
}
.p3{
    margin-left: 174px;
    margin-top: 10px;
    font-family: MicrosoftYaHeiUI;
    font-size: 24px;
    color: rgba(255,255,255,0.65);
    line-height: 45px;
}
#p-bj{
    margin-top: 20px;
}
.message{
    width:750px;
    height:406px;
    display: flex;
    justify-content:center; /*子元素水平方向居中排列*/
    align-items: center;    /*子元素垂直方向居中排列*/
    flex-direction: column; /*子盒子竖排 */
}
#div-disable{
    height:40px;
}
.message-p{
    margin:29px;
    font-family: MicrosoftYaHeiUI;
    font-size: 24px;
    color: rgba(255,255,255,0.65);
    text-align: center;
    line-height: 22px;
}